.content
{
    background-color: rgb(187, 67, 36);
    padding: 20px;
    font-size: 40px;
    color: white;
    margin-bottom: 200px;
}

.course-nginx
{
    background: rgb(41, 158, 167);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    max-width: 100%;
    width: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px;
    padding: 20px;
    color: white;
}

.course-nginx h3
{
    color: black;
    text-align-last: left;
}

.course-nginx p
{
    padding-top: 20px;
    text-align: left;
}

.course-nginx a{
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    border-radius: 0.3rem;
    padding:0.5rem;
    background-color: rgb(255, 255, 255);
    border:1px solid #673AB7;
    color: #673AB7 !important;
    box-shadow: 0 0.05em 0.1em rgba(0,0,0,.25);
}
.course-nginx a:hover{
    transition: .5s;
    background-color: #673AB7;
    border: 1px solid #673AB7;
    color: #fff !important;
    text-decoration: none;
}

